<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Johnnie Walker</title>
  </head>
  <body>

  <figure class="element-interactive interactive"></figure>

  </body>

  <!-- Get require.js -->
  <script src="assets/js/requirejs/require.js"></script>

  <!-- Simulate boot.js -->
  <script>

    // Paths
    var guardianRoot = window.guardianRoot || "{{remote-root}}";
    var localRoot = window.localRoot || "{{local-root}}";
    
    // DOM element
    var el = document.querySelector( '.interactive' );

    // Boot
    require( ['boot.js'], function ( app ) {
        app.boot( el );
    } );

  </script>

</html>