<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Johnnie Walker</title>

    <!-- Bootstrap -->
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  
  <body>

    <figure id="JW_interactive" class="element-interactive interactive"></figure>

  </body>

  <!-- Get require.js -->
  <script src="assets/js/requirejs/require.js"></script>

  <!-- Simulate boot.js -->
  <script>

    // Paths
    var guardianRoot = window.guardianRoot || "{{remote-root}}";
    var localRoot = window.localRoot || "{{local-root}}";
    
    // DOM element
    var el = document.querySelector( '.interactive' );

    // Boot
    require( ['boot.js'], function ( app ) {
        app.boot( el );
    } );

  </script>

</html>