//
// JW
// --------------------------------------------------

@import "node_modules/bootstrap-less/bootstrap/bootstrap.less";

@container-large-desktop: 555px;

@interactive-screen-xs:               480px;
@interactive-screen-sm:               620px;
@interactive-screen-md:               860px;
@interactive-screen-lg:               1260px;


// LIVE PATH
@path: "../";

// DEV PATH
//@path: "../../../../assets/";

* {
    -webkit-box-sizing: inherit !important;
    -moz-box-sizing: inherit !important;
    box-sizing: inherit !important;
}

html {
	font-size: inherit !important; 
}

.interactive {

	.scale (@factor) {
		-webkit-transform: scale(@factor);
		-moz-transform: 	 scale(@factor);
		-ms-transform: 		 scale(@factor);
		-o-transform: 		 scale(@factor);
	}

	#mq-detector { visibility: hidden; }

	.wrap {
	 	max-width: 860px !important;
	 	overflow: hidden;
	 	margin: 0 auto;
	 	padding-bottom: 50px;
	 	position: relative;
		&:after {
		    content: ' ';
		    width: 289px;
		    height: 18px;
		    position: absolute;
		    bottom: 10px;
		    right: 10px;
			background: url('@{path}img/drinkaware.png') no-repeat 0 0;
		}
	 	
	}

	@heroColor: #d1c095;

	.hero {
		background-color: #000;
		position: relative;
		height: 568px;
		@media (min-width: @interactive-screen-sm) {
			min-height: 716px;
		}
		.hero-img {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
		}

		#img-1 {
			max-width: 416px;
			left: 0px;
			top: 30px;
		}
		#img-2 {
			max-width: 198px;
			left: 28px;
			top: 375px;
		}
		#img-3 {
			max-width: 185px;
			left: 250px;
			top: 489px;
		}
		#img-4 {
			max-width: 188px;
			left: 935px;
			top: 60px;
		}
		#img-5 {
			max-width: 325px;
			left: 910px;
			top: 300px;
		}

		.circle {
			border-radius: 50%;
			width: 34px;
			height: 34px;
			margin-left: -17px;
			background-color: transparent;
			border: 1px solid @heroColor;
			position: absolute;
			top: 120px;
			left: 50%;
			@media (min-width: @interactive-screen-sm) {
				width: 54px;
				height: 54px;
				margin-left: -27px;
			}
		}
		.line {
			width: 290px;
			margin-left: -145px;
			height: 1px;
			background-color: @heroColor;
			position: absolute;
			left: 50%;
			top: 192px;
			@media (min-width: @interactive-screen-sm) {
				width: 490px;	
				margin-left: -245px;
			}
		}
		.line2 {
			width: 110px;
			height: 1px;
			background-color: @heroColor;
			position: absolute;
			left: 50%;
			top: 340px;
			margin-left: -55px;
			@media (min-width: @interactive-screen-sm) {
				top: 420px;
			}
		}
		.logo {
			@logoWidth: 154px;
			@logoHeight: 114px;
			@logoWidthMobile: 100px;
			@logoHeightMobile: 74px;
			background: url('@{path}svg/logo-white.svg') no-repeat 0 0;
			background-size: @logoWidthMobile @logoHeightMobile;
			width: @logoWidthMobile;
	    	height: @logoHeightMobile;
			position: absolute;
			margin-left: -50px;
			left: 50%;
			top: 450px;
			display: block;
			@media (min-width: @interactive-screen-sm) {
				width: @logoWidth;
		    	height: @logoHeight;
		    	background-size: @logoWidth @logoHeight;
		    	margin-left: -77px;
		    	top: 517px;
			}
		}
		.hero-text {
			position: absolute;
			left: 50%;
			width: 550px;
			margin-left: -275px;
			padding-top: 228px;
			z-index: 1;
		}
		h1 {
			color: @heroColor;
			text-transform: uppercase;
			font-family: 'de7_display_egyptian_blackRg';
		    font-size: 2.143em;
		    line-height: 90%;
			margin: 0;
			@media (min-width: @interactive-screen-sm) {
		    	font-size: 4.286em;
			}
		}
		h2 {
			color: #FFF;
			font-family:'EgyptianText';
			font-style: italic;
			font-weight: normal;
			font-size: 28px;
			@media (min-width: @interactive-screen-sm) {
				width: 437px;
				margin: 10px auto 0 auto;
			}
		}
	}

	.quote {
		&.active {
			.quote-content{
				max-height: 500px;
				height: auto;
	    		transition: max-height .5s ease-in;
			}
			.quote-image {
				.arrow-up {
						transition: all .5s ease-in-out;
						-moz-transition: all .5s ease-in-out;
						-webkit-transition: all .5s ease-in-out;
						bottom: -1px;
						opacity: 1;
				}
				&:after, .quote-image-after {
				  	//opacity: 0;
				  	//transition: opacity 1.5s ease-in-out;
					//-moz-transition: opacity 1.5s ease-in-out;
					//-webkit-transition: opacity 1.5s ease-in-out;	
				}
			}
			.quote-circle {
				.quote-title {
						opacity: 1.0;
						transition: opacity .5s ease-in-out;
						-moz-transition: opacity .5s ease-in-out;
						-webkit-transition: opacity .5s ease-in-out;				
				}
			}
		}

		position: relative;
		background-color: #fff;
		height: 100%;
		clear: both;
		overflow:hidden;

		.quote-image {
			position: relative;
			&:after, .quote-image-after {
			  content: " ";
			  background: url('@{path}img/overlay.png') no-repeat 0 0;
			  opacity: 1.0;
			  top: 0;
			  left: 0;
			  bottom: 0;
			  right: 0;
			  position: absolute;
			  //z-index: -1;   
			}
			&:after {
				display: none;
			};
			@media (min-width: @interactive-screen-sm) {
			    background-size: 100% 100%;
			    background-position: 50% 50%;
			    background-repeat: no-repeat;
			}
			img {
				width: 100%;
				max-height: 450px; // 16:9 aspect ratio image
			}
			@arrowMobile: 16px;
			@arrow: 32px;	
			.arrow-up {
				position: absolute;
				width: 0; 
				height: 0; 
				border-left: @arrowMobile solid transparent;
				border-right: @arrowMobile solid transparent;
				border-bottom: @arrowMobile solid white;
				bottom: -50px;
				left: 50%;
				margin-left: -16px;
				opacity: 0;
				z-index: 1;
				@media (min-width: @interactive-screen-sm) {
					border-left: @arrow solid transparent;
					border-right: @arrow solid transparent;
					border-bottom: @arrow solid white;
					margin-left: -32px;
				}
			}

			.quote-image-container {
				position: relative;
				@media (max-width: @interactive-screen-sm) {
					min-width: 320px;
					min-height: 320px;
					background-position: 50% 50%;
				}
				.hero-overlay {
					position: absolute;
					opacity: 0.75;
				}
			}
		}

		.quote-content {
			height: 1px;
			max-height: 0;
	    	transition: max-height 1s ease-out;
	    	overflow: hidden;
		}


		.quote-circle {

			//@media (max-width: @interactive-screen-md) {
			//	.scale(0.75);
			//	top: -30px;
			//}

			@media (max-width: @interactive-screen-sm) {
				.scale(0.5);
				top: -30px;
			}

			.quote-circle-inner {
				display: flex;
				flex-direction: column;
			    align-items: center;
			    justify-content: center;
			    height: 100%;
			}

			color: #d1c095;
			position: absolute;
			top: 20px;
			left: 50%;
			height: 360px;
			width: 360px;
			margin-left: -180px;
			margin-top: 0;
			border-radius: 50%;
			border: 1px solid #FFF;
			background-color: rgba(0, 0, 0, 0.13);
			z-index: 1;
			.quote-numbers {
				//font-family: 'de7_display_egyptian_blackRg';
				font-size: 2.143em;
				color: #FFF;
				padding-top: 0px;
				//display: none;
				font-family:"TextSans";
			    position: absolute;
			    left: 50%;
			    top: 20px;
			    width: 120px;
			    margin-left: -60px;
				&:after {
					content: ' ';
					width: 48px;
					margin-left: -24px;
					height: 2px;
					position: absolute;
					bottom: -10px;
					left: 50%;
					background-color: #FFF;
				}
				.quote-numbers-fade {
					opacity: 0.5;
				}
			}
			.quote-title {
				font-family: 'de7_display_egyptian_blackRg';
				text-transform: uppercase;
				font-size: 3.286em;
				line-height: 90%;
				color: #FFF;
				opacity: .5;
				span {
					display: block;
				}
			}
			&:after {
				content: ' ';
				width: 360px;
				height: 1px;
				position: absolute;
				bottom: -20px;
				left: 50%;
				margin-left: -180px;
				background-color: #FFF;
			}
		}

		.quote-text {
			font-family:'EgyptianText';
			padding: 0 10%;
			font-size: 1.143em;
			line-height: 150%;
			padding: 30px 10% 0 10%;
			//@media (min-width: @interactive-screen-sm) {
			//	font-size: 16px;
			//}
		}

		@shareWidthMobile: 40px;
		@shareHeightMobile: 40px;
		@shareWidth: 60px;
		@shareHeight: 61px;

		.quote-share {
			padding-top: 20px;
			li {
				display: inline-block;
				padding: 0 11px;
			}
			a {
				width: @shareWidthMobile;
				height: @shareHeightMobile;
				background-size: @shareWidthMobile @shareHeightMobile;
				@media (min-width: @interactive-screen-sm) {
					width: @shareWidth;
					height: @shareHeight;
					background-size: @shareWidth @shareHeight;
				}
				display: inline-block;
			}
			.pininterest a {
				background: url('@{path}svg/pininterest.svg') no-repeat 0 0;
			}
			.twitter a {
				background: url('@{path}svg/twitter.svg') no-repeat 0 0;
			}
			.facebook a {
				background: url('@{path}svg/facebook.svg') no-repeat 0 0;
				
			}
		}
		.quote-footer {
			font-family:'EgyptianText';
			font-size: 1.143em;
			padding-bottom: 20px;
			margin-bottom: 0;
		}

		&.quote-11 {
			.quote-title {
				span:nth-child(1) {
					display: inline;
				}
				span:nth-child(2) {
					display: inline;
				}
			}
		}

		&.quote-7 {
			.quote-title {
				font-size: 2.857em;
			}
		}



		&.quote-12 {
			.quote-title {
				span:nth-child(1) {
					display: inline;
				}
				span:nth-child(2) {
					display: inline;
				}
			}
		}
	}
}


@font-face {
    font-family: 'de7_display_egyptian_blackRg';
    src: url('@{path}fonts/gdnegyde7bla-webfont.eot');
    src: url('@{path}fonts/gdnegyde7bla-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{path}fonts/gdnegyde7bla-webfont.woff2') format('woff2'),
         url('@{path}fonts/gdnegyde7bla-webfont.woff') format('woff'),
         url('@{path}fonts/gdnegyde7bla-webfont.ttf') format('truetype'),
         url('@{path}fonts/gdnegyde7bla-webfont.svg#de7_display_egyptian_blackRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
